 #slides{
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 650px;
    top: 150px;
    width: 200px;
    height: 300px;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}


.button{
    width: 100px;
    position: absolute;
    top: 400px;
    padding: 1% 1% 0 3%;
    left: 450px;
    z-index: 999;
}

#but2{
    left: 1260px;
}